<footer>
  <div>
    <p>
      <strong>Artpick</strong> | 대표: 김태윤 | 전화번호: 010-7247-6027 | Email:
      taeyun6473@naver.com
    </p>
    <p>주소: 대전광역시 서구 도학1길 26, 201호</p>
    <p>&copy; 2025 Artpick. All rights reserved.</p>
  </div>
</footer>
