<header>
  <a href="/" class="logo">Artpick 대전</a>
  <nav class="nav-links">
    <a href="/spot">명소</a>
    <a href="/food">맛집</a>
    <a href="/cafe">카페</a>
    <a href="/toon">인스타툰</a>
    <a href="/company">회사소개</a>
    <% if (user) { %>
    <p><%= user.username %>님!</p>
    <form action="/logout" method="post">
        <button id="logout">로그아웃</button>
    </form>
    <% } else { %>
    <a href="/login" id="login">로그인</a>
    <% } %>
  </nav>
</header>
